/* 300 400 600 700 */
@import url("https://use.typekit.net/kqy1dhn.css");
* {
  font-family: muli, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  padding: 17px 40px;
  display: flex;
  align-items: center;
  gap: 5px;

}
button.blue {
  background: #458ff6;
  color: white;
}
button.white {
  background: white;
  border: #458ff6 2px solid;
  color: #458ff6;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #7d7987;
}