/* 300 400 600 700 */
@import url("https://use.typekit.net/kqy1dhn.css");
* {
  font-family: muli, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
}